body {
    background-color: rgb(41, 41, 41);
    max-width: 600px;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #af00af;
    color: #fff;
    border:none;
    height: 44px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    width: 25%;

}

h1 {
    font-size: 40px;
    color: #af00af;
    text-align: center;
    
}

input {
    height: 40px;
    border: 2px solid #af00af ;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 70%;
}

button:hover {
    background-color: #9d32e4;
}

button:active{
    background-color: #bd70f0;

}

ul {
    list-style-type: none;
    padding: 0%;

}

li {
    background-color: #4a148c;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color:#eee;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

span {
    cursor: pointer;
    
}